:root {
  --color-primario: red; /* El rojo de tus botones en el index */
  --color-oscuro: black;
  --color-fondo: white;
  --texto: #3f3e3e;
}

body {
  font-family: 'Segoe UI', Roboto, sans-serif;
  background-color: var(--color-fondo);
  color: var(--texto);
  line-height: 1.8;
  margin: 0;
}

header {
  background-color: var(--color-oscuro);
  padding: 40px 20px;
  border-bottom: 4px solid var(--color-primario);
}

header h1 {
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin: 0 0 20px 0;
}

#navegacion ol {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 0;
}

#navegacion a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  border: 1px solid #444;
  padding: 8px 16px;
  border-radius: 4px;
  transition: 0.3s;
}

#navegacion a:hover {
  background-color: var(--color-primario);
  border-color: var(--color-primario);
}

main {
  max-width: 800px; /* Más estrecho para mejorar la lectura */
  margin: 40px auto;
  padding: 0 20px;
}
.table-container {
  overflow-x: auto;
  margin-top: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
  font-size: 0.95rem;
}

table th {
  background-color: #eb3810; /* Verde que ya usas en tus bordes */
  color: white;
  padding: 12px;
  text-transform: uppercase;
}

table td {
  padding: 12px;
  border-bottom: 1px solid #ddd;
}

/* Efecto cebra para facilitar la lectura */
table tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

.split {
  background: #fff;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.05);
  margin-bottom: 30px;
}

.split h2 {
  color: var(--color-oscuro);
  border-left: 5px solid var(--color-primario);
  padding-left: 15px;
  margin-bottom: 20px;
}

footer {
  background: var(--color-oscuro);
  color: #777;
  padding: 25px;
  font-size: 0.8rem;
  margin-top: 50px;
}

